%% rebar plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

%% behaviours should be compiled before other files
{erl_first_files, [
    "src/rebar_git_plugin.erl",
    "src/http/listener_behaviour.erl",
    "src/logging/logger_plugin_behaviour.erl",
    "src/oz/oz_plugin_behaviour.erl"
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions, unknown]},
    {plt_extra_apps, [
        mnesia, ranch, cowboy, ssl, xmerl, jiffy, base64url, ssl_verify_fun,
        macaroons, tools, common_test, meck, inets, runtime_tools, compiler,
        eunit, os_mon, iso8601, edoc, certifi, locus
    ]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% TODO - enable after upgrade to Erlang 18.3
%% Test coverage
%% {cover_enabled, true}.

{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}},
    {hackney, {git, "git://github.com/bwalkowi/hackney.git", {ref, "d80d4d919acadb"}}},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.9"}}},
    {lager, "3.6.1"},
    {jiffy, {git, "https://github.com/bkryza/jiffy.git", {ref, "a449ec1ecd"}}},
    {macaroons, {git, "ssh://git@git.onedata.org:7999/vfs/macaroons.git", {ref, "c094f0eab6f"}}},
    {gen_smtp, {git, "git://github.com/Vagabond/gen_smtp.git", {tag, "0.11.0"}}},
    {iso8601, {git, "https://github.com/xorver/erlang_iso8601.git", {ref, "72013b0"}}},
    {locus, {git, "https://github.com/g-andrade/locus.git", {ref, "638063fb"}}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"}, %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
    %% NIFs compilation
    {compile, "mkdir -p priv"},
    {compile, "make -C c_src"}
]}.

%% Cleanup
{clean_files, [
    "./c_src/*/*.o",
    "test/eunit_results",
    "./priv/*.so"
]}.

{overrides,
    [{override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
