%% rebar plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

%% behaviours should be compiled before other files
{erl_first_files, [
    "src/rebar_git_plugin.erl",
    "src/http/listener_behaviour.erl",
    "src/logging/logger_plugin_behaviour.erl",
    "src/oz/oz_plugin_behaviour.erl"
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

{dialyzer, [
    {warnings, [error_handling, unknown]},
    {plt_extra_apps, [
        mnesia, ranch, cowboy, ssl, xmerl, jiffy, base64url, ssl_verify_fun,
        macaroons, tools, common_test, meck, inets, runtime_tools, compiler,
        eunit, os_mon, iso8601, edoc, certifi, locus, yamerl
    ]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% TODO: VFS-7199 enable after upgrade to Erlang 18.3
%% Test coverage
%% {cover_enabled, true}.

{deps, [
    {ranch, {git, "https://github.com/ninenines/ranch.git", {ref, "af1508c4a729"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.17.4"}}},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
    {lager, "3.9.2"},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {ref, "9ea1b35b6e60"}}},
    {macaroons, {git, "ssh://git@git.onedata.org:7999/vfs/macaroons.git", {ref, "eb82ed3551b4"}}},
    {iso8601, {git, "https://github.com/xorver/erlang_iso8601.git", {ref, "72013b0"}}},
    {locus, {git, "https://github.com/g-andrade/locus.git", {ref, "38871b7560d8"}}},
    {yamerl, "0.7.0"},
    {observer_cli, "1.6.2"}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"}, %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
    %% NIFs compilation
    {compile, "mkdir -p priv"},
    {compile, "make -C c_src"}
]}.

%% Cleanup
{clean_files, [
    "./c_src/*/*.o",
    "test/eunit_results",
    "./priv/*.so"
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
