%% rebar plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

%% behaviours should be compiled before other files
{erl_first_files, [
    "src/rebar_git_plugin.erl",
    "src/gui/session_logic_behaviour.erl",
    "src/logging/logger_plugin_behaviour.erl",
    "src/dns/dns_handler_behaviour.erl",
    "src/oz/oz_plugin_behaviour.erl"
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions]},
    {plt_extra_apps, [ranch]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% TODO - enable after upgrade to Erlang 18.3
%% Test coverage
%% {cover_enabled, true}.

{deps, [
    {web_client, {git, "ssh://git@git.plgrid.pl:7999/vfs/web-client.git", {ref, "ebf460ac"}}},
    {etls, "1.1.2"},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}},
    {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
    {cowboy, {git, "git://github.com/RoXeon/cowboy.git", {tag, "websocket_payload_nif"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.4"}}},
    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.2"}}},
    {annotations, {git, "https://github.com/RoXeon/annotations.git", "HEAD"}},
    {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {ref, "925a783"}}},
    {macaroons, {git, "https://github.com/kzemek/macaroons.git", {tag, "1.0.2"}}},
    {gen_smtp, {git, "git://github.com/Vagabond/gen_smtp.git", {tag, "0.11.0"}}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% Cleanup
{clean_files, ["test/eunit_results"]}.

{overrides,
    [{override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]},
    {override, cowboy, [
        {plugins, [pc]},
        {artifacts, ["priv/websocket_utils.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
