%%%--------------------------------------------------------------------
%%% @author Michal Stanisz
%%% @copyright (C) 2025 ACK CYFRONET AGH
%%% This software is released under the MIT license
%%% cited in 'LICENSE.txt'.
%%% @end
%%%--------------------------------------------------------------------
%%% @doc 
%%% Custom config for nodes executing eunit tests.
%%% @end
%%%--------------------------------------------------------------------

[{kernel, [{logger, [
    {handler, default, logger_std_h, #{level => none}} % disables application logs in eunit output
]}]}].
